@{
    ViewData["Title"] = "Home Page";
}

@using MVCAjax.Data
@model List<Product>


<div class="container">
  <h1>Ürün Listesi</h1>
  <div class="row">
    @foreach (var item in Model)
    {
         <div class="col-md-4 mb-2">
      <div class="card">
          <img height="300px" src="@item.PhotoUrl" class="card-img-top" alt="Ürün 1">
        <div class="card-body">
          <h5 class="card-title"> @item.Name
              <span id="like_@item.Id" class="@(item.Liked ? "heart-like":"heart-unlike")" onclick="like('@item.Id')"></span>
          </h5>
          <p class="card-text">Fiyat : @item.Price, Stok: @item.Stock</p>
        </div>
      </div>
    </div>
    }
  </div>
</div>









